{% extends "layout.html" %}

{% block title %}
Articles
{% endblock %}

{% block main %}

<h2 class="mb-5">Your saved articles</h2>

<table class="table">
    <thead>
        <tr>
            <th>NN</th>
            <th>Keyword</th>
            <th>Source name</th>
            <th>Author</th>
            <th>Title</th>
            <th>URL</th>
            <th>Published</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr class="">
            <td>{{ row['nn'] }}</td>
            <td>{{ row['keyword'] }}</td>
            <td>{{ row['source'] }}</td>
            <td>{{ row['author'] }}</td>
            <td>{{ row['title'] }}</td>
            <td><a href="{{ row['url'] }}"  target="_blank">{{ row['url'] }}</a></td>
            <td>{{ row['published'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}