{% extends "layout.html" %}

{% block title %}
  Articles
{% endblock %}

{% block main %}

<script type="text/javascript">
  function deleteArticleRow(id) {
    let request = new XMLHttpRequest();
    request.onreadystatechange = function(response) {
      if (request.readyState == 4 && request.status == 200) {
        const article_id = JSON.parse(request.response);
        const show_message = document.getElementById('message');
        show_message.classList.add("show");
        setTimeout(() => {
          show_message.classList.remove("show");
          location.reload();
        }, 5000)
      };
    }
    const search_article_id = {
      id: id
    }
    request.open("POST", "/articles", true);
    request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    request.send(JSON.stringify(search_article_id));
  }
</script>

<div role="alert" aria-live="assertive" aria-atomic="true" id="message" class="toast position-fixed z-3"
  data-bs-autohide="false">
  <div class="toast-header fs-4 justify-content-between message">
    <div>Message:</div>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body fs-5 message">
    This article was successfully deleted!
  </div>
</div>

<h2 class="mb-5">Your saved articles</h2>

<table class="table">
  <thead>
    <tr>
      <th>NN</th>
      <th>Keyword</th>
      <th>Source</th>
      <th>Author</th>
      <th>Title</th>
      <th>URL</th>
      <th>Published</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row['nn'] }}</td>
      <td>{{ row['keyword'] }}</td>
      <td>{{ row['source'] }}</td>
      <td>{{ row['author'] }}</td>
      <td>{{ row['title'] }}</td>
      <td><a href="{{ row['url'] }}" target="_blank">{{ row['url'] }}</a></td>
      <td>{{ row['published'] }}</td>

      {% if row['tag_text'] %}
      <td class="text-start" style="width: 10rem;">
        <span class="badge shadow border border-black" style="background-color: {{ row['tag_color'] }}; color: black;">
          {{ row['tag_text'].title() }}
        </span>
        <a class="px-2 py-1 mx-1 delete-tag" style="text-decoration: none;"
          href="/delete-tag-from-article?id-tag=null&id-article={{ row['id'] }}">
          X
        </a>
      </td>

      {% else %}
      <td>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add
          </button>
          <ul class="dropdown-menu">

            {% for tag in tags %}
            <li>
              <a class="dropdown-item" style="background-color: {{ tag['color'] }}"
                href="/save-tags-to-article?id-tag={{ tag['id'] }}&id-article={{ row['id'] }}">
                {{ tag['tag'].title() }}
              </a>
            </li>
            {% endfor %}

          </ul>
        </div>
      </td>
      {% endif%}

      <td>
        <button type="button" class="btn btn-danger" onclick="deleteArticleRow('{{ row['id'] }}')">Delete</button>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}