{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}

<script type="text/javascript">
    function searchArticle(id) {
      let request = new XMLHttpRequest();
      request.onreadystatechange = function(response) {
          if (request.readyState == 4 && request.status == 200){
            const search_history_id = JSON.parse(request.response);
                console.log(search_history_id)
      };
    }
      const search_article_id = {
        article: {
          id: id,
        }
      }
      request.open("POST", "/history", true);
      request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      request.send(JSON.stringify(search_article_id));
    }
  </script>

<h2 class="mb-5">Your search history</h2>

<table class="table">
    <thead>
        <tr>
            <th>NN</th>
            <th>Article / Breaking news</th>
            <th>Keyword</th>
            <th>Language</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr class="">
            <td>{{ row['nn'] }}</td>
            <td>{{ row['article_type'] }}</td>
            <td>{{ row['keyword'] }}</td>
            <td>{{ row['language'] }}</td>
            <td>{{ row['date'] }}</td>
            <td><button type="button" onclick="searchArticle('{{ row['id'] }}')" class="btn btn-success">Search again</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}