{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<!-- <script type="text/javascript">
    $(document).ready(function() {
      $('#form1').on('submit',function(e){
        $.ajax({
          data : {
            keyword : $('#keyword').val(),
          },
          type : 'POST',
          url : '/'
        })
        .done(function(data){
          document.getElementById('output').innerHTML = data;
        });
        e.preventDefault();
      });
    });
</script> -->

    <form action="/" method="POST" id="form">

        <div class="form-check form-check-inline mb-3">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">News articles</label>
          </div>
          <div class="form-check form-check-inline mb-3">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Breaking news</label>
          </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="keyword" name="keyword" placeholder="Keyword or phrase" type="text">
        </div>

        <select class="form-select w-25 mx-auto mb-3" aria-label="Default select example">
            <option selected>Select your language</option>
            <option value="en">English</option>
            <option value="de">German</option>
            <option value="fr">France</option>
          </select>

        <button class="btn border mb-3" type="submit">Submit</button>

    </form>

    <div class="d-flex flex-wrap justify-content: center">

        {% for row in data %}

            <div class="card m-2" style="width: 18rem;">
                <div class="card-header">
                Keyword: {{ keyword }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ row['source.name'] }} {{ row['author'] }}</li>
                    <li class="list-group-item">{{ row['title'] }}</li>
                    <li class="list-group-item">{{ row['url'] }}</li>
                    <li class="list-group-item"><img src="{{ row['urlToImage'] }}" alt="" width="220" height="220"></li>
                    <li class="list-group-item">{{ row['publishedAt'] }}</li>
                </ul>
                <a href="#" class="btn btn-primary">Save to my articles</a>
            </div>

        {% endfor %}
    </div>


{% endblock %}


