{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/" method="get">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="keyword" name="keyword" placeholder="Keyword or phrase" type="text">
        </div>
        <button class="btn border" type="submit">Submit</button>
    </form>
{% endblock %}
