<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

        <link href="/static/favicon.ico" rel="icon">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&family=Caveat:wght@700&family=Montserrat:wght@300;400;600&family=Mooli&family=Rubik&display=swap" rel="stylesheet">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <title>My Articles {% block title %}{% endblock %}</title>

    </head>

    <body class="vh-100 body">

        <nav class="border navbar navbar-expand-md navbar-light nav_bg position-fixed top-0 vw-100 z-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/static/logo.png" alt="Logo" width="50" height="50" />
                    <span class="mx-3">My Articles</span>
                </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse fs-5 text-white" id="navbar">
                    {% if session["user_id"] %}
                    <ul class="navbar-nav me-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/history">Search history</a></li>
                        <li class="nav-item"><a class="nav-link" href="/articles">Saved Articles</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tags">My tags</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if get_flashed_messages() %}
        <header>
            <div class="alert alert-primary mb-0 text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
        {% endif %}

        <main class="container-fluid py-5 text-center bg">
            {% block main %}{% endblock %}
        </main>

        <footer class="footer vw-100 small text-muted d-flex justify-content-between fs-5">
            <span class="harvard">This is CS50</span>
            <span class="harvard">Final Project</span>
            <span><a class="harvard" href="https://www.harvard.edu/">Harvard University 2023</a></span>
        </footer>

    </body>

</html>