<div class="d-flex flex-wrap">

    {% for row in data %}

        <div class="card m-2" style="width: 18rem;">
            <div class="card-header">
            Keyword: Query
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ row['source.name'] }} {{ row['author'] }}</li>
                <li class="list-group-item">{{ row['title'] }}</li>
                <li class="list-group-item">{{ row['url'] }}</li>
                <li class="list-group-item">{{ row['urlToImage'] }}</li>
                <li class="list-group-item">{{ row['publishedAt'] }}</li>
            </ul>
            <a href="#" class="btn btn-primary">Save to my articles</a>
        </div>

    {% endfor %}
    </div>