{% extends "layout.html" %}

{% block title %}
    Tags
{% endblock %}

{% block main %}
    <form action="/tags" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="tag" name="tag" placeholder="Tag" type="text">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Peach #EEA47F</option>
                <option value="1">Royal Blue #00539C</option>
                <option value="2">Pink #FBEAEB</option>
                <option value="3">Yellow #F9E795</option>
                <option value="3">Coral #F96167</option>
                <option value="3">Lime Green #CCF381</option>
                <option value="3">Electric Blue #4831D4</option>
                <option value="3">Lavender #E2D1F9</option>
                <option value="3">Teal #317773</option>
                <option value="3">Baby Blue #8AAAE5</option>
                <option value="3">Lavender #E2D1F9</option>
              </select>

        </div>
        <button class="btn border" type="submit">Buy</button>
    </form>
{% endblock %}
