{% extends "layout.html" %}

{% block title %}
Tags
{% endblock %}

{% block main %}
<form action="/tags" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="tag" name="tag" placeholder="Tag" type="text">
    </div>
    <div class="mb-3">
        <select class="form-select w-25 mx-auto" name="color" aria-label="Default select example">
            <option selected value="#EEA47F">Peach</option>
            <option value="#CCF381">Lime Green</option>
            <option value="#FBEAEB">Pink</option>
            <option value="#F9E795">Yellow</option>
            <option value="#F96167">Coral</option>
            <option value="#E2D1F9">Lavender</option>
            <option value="#FCEDDA">Peach </option>
            <option value="#ADD8E6">Light Blue</option>
            <option value="#DDC3A5">Beige</option>
            <option value="#C5FAD5">Mint</option>
            <option value="#FFFFD2">Butter</option>
        </select>
    </div>
    <button class="btn btn-primary border mb-4" type="submit">Submit</button>
</form>

<div class="mb-4 fs-4">Select from these colors:</div>

<div class="d-flex">
    <span style="background-color: #EEA47F;" class="rounded tags mx-2 p-2">Peach</span>
    <span style="background-color: #CCF381;" class="rounded tags mx-2 p-2">Lime Green</span>
    <span style="background-color: #FBEAEB;" class="rounded tags mx-2 p-2">Pink</span>
    <span style="background-color: #F9E795;" class="rounded tags mx-2 p-2">Yellow</span>
    <span style="background-color: #F96167;" class="rounded tags mx-2 p-2">Coral</span>
    <span style="background-color: #E2D1F9;" class="rounded tags mx-2 p-2">Lavender</span>
    <span style="background-color: #FCEDDA;" class="rounded tags mx-2 p-2">Peach</span>
    <span style="background-color: #ADD8E6;" class="rounded tags mx-2 p-2">Light Blue</span>
    <span style="background-color: #DDC3A5;" class="rounded tags mx-2 p-2">Beige</span>
    <span style="background-color: #C5FAD5;" class="rounded tags mx-2 p-2">Mint</span>
    <span style="background-color: #FFFFD2;" class="rounded tags mx-2 p-2">Butter</span>
</div>

<hr style="height:2px;border-width:0;color:gray;background-color:gray"/>

<div class="d-flex justify-content-center my-3 fs-4">List of your tags:</div>

<div class="d-flex flex-wrap justify-content-around">

    {% for row in data %}

    <div class="card mx-3 my-4 align-items-center" style="width: 18rem;">
        <div class="align-self-stretch p-3" style="background-color: {{ row['color'] }}">{{ row['tag'] }} </div>
        <a href="/delete-tag?id={{ row['id'] }}" class="btn btn-danger button my-3">Delete</a>
    </div>

    {% endfor %}

</div>

{% endblock %}