{% extends "layout.html" %}

{% block title %}
Tags
{% endblock %}

{% block main %}
<form action="/tags" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="tag" name="tag" placeholder="Tag" type="text">
    </div>
    <div class="mb-3">
        <select class="form-select w-25 mx-auto" name="color" aria-label="Default select example">
            <option selected value="#EEA47F">Peach</option>
            <option value="#8AAAE5">Baby Blue</option>
            <option value="#FBEAEB">Pink</option>
            <option value="#F9E795">Yellow #F9E795</option>
            <option value="#F96167">Coral #F96167</option>
            <option value="#CCF381">Lime Green #CCF381</option>
            <option value="#4831D4">Electric Blue #4831D4</option>
            <option value="#E2D1F9">Lavender #E2D1F9</option>
            <option value="#A7BEAE">Light Teal #A7BEAE</option>
            <option value="#CBD18F">Sage #CBD18F</option>
            <option value="#C5FAD5">Mint #C5FAD5</option>
            <option value="#FBF8BE">Pale Yellow #FBF8BE</option>
        </select>
    </div>
    <button class="btn border mb-3" type="submit">Submit</button>
</form>

<div class="mb-3">Select the colors:</div>

<div class="d-flex">
    <span style="background-color: #EEA47F;" class="colors mx-2 p-2">Peach</span>
    <span style="background-color: #8AAAE5;" class="colors mx-2 p-2">Baby Blue</span>
    <span style="background-color: #FBEAEB;" class="colors mx-2 p-2">Pink</span>
</div>


<div class="d-flex justify-content-center mb-3">List of your tags:</div>

<div class="d-flex flex-wrap justify-content-around">

    {% for row in data %}

    <div class="card mx-3 my-4 align-items-center" style="width: 18rem;">

        <div class="align-self-stretch p-3" style="background-color: {{ row['color'] }}">{{ row['tag'] }} </div>


        <a href="/delete-tag" class="btn btn-primary button my-3">Delete</a>


    </div>

    {% endfor %}

</div>

{% endblock %}