
:root {
    --bs-font-sans-serif: 'Carlito', sans-serif;

    font-family: 'Carlito', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Rubik', sans-serif;

    --bs-border-color: black;
    --bs-body-bg: transparent;
    --bs-border-color-translucent: black;
}

.body {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("la_paper.jpg");
    background-repeat: round;
}

main {
    margin-top: 4rem;
}

nav.navbar {
    background-color: #89ABE3;
    --bs-navbar-color: white;
    text-shadow: 1px 1px black;
}

/* background-color: #d5f0e6; */
/* 89ABE3 */

nav .navbar-brand
{
    --bs-navbar-brand-color: white;
    font-size: xx-large;
    text-shadow: 1px 1px black;
}

.btn-primary {
    --bs-btn-color: black;
    --bs-btn-bg: #89ABE3;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-danger {
    --bs-btn-color: black;
    --bs-btn-bg: #EA738D;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}

.badge {
    --bs-badge-padding-x: 0.75em;
    --bs-badge-padding-y: 0.5em;
    --bs-badge-font-size: 1.1em;
    --bs-badge-font-weight: 500;
    --bs-badge-color: black;
    --bs-badge-border-radius: var(--bs-border-radius);
    --bs-border-color-translucent: black;
}

tr:last-child {
    border-bottom: 2px solid black;
}

/* .td-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.button {

}

.footer {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: #89ABE3;
    text-align: center;
    border: 1px solid black;
}

.keyword {
    font-weight: bold;
}

.message {
    display: none;
    color: red;
}

.tags {
    border: 1px solid gray;
    display: inline-block;
    width: 20rem;
}

.harvard {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}

.border-tag {
    border-bottom: 1px solid black;
    border-radius: 0.375rem;
}

.delete-tag {
    color: black;
    background-color: #EA738D;
    /* font-weight: bold; */
    border: 1px solid black;
    /* font-size: 2rem; */
}