
:root {
    --bs-font-sans-serif: 'Montserrat', sans-serif;
}

main {
    margin-top: 4rem;
}

nav.navbar {
    background-color: #d5f0e6;
    color: red;
}

nav .navbar-brand
{
    font-size: xx-large;
}

button.btn {
    /* background-color: #d5f0e6; */
}

tr:last-child {
    border-bottom: 2px solid black;
}

.button {

}

.footer {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: #d5f0e6;
    text-align: center;
}

.keyword {
    font-weight: bold;
}

.message {
    display: none;
    color: red;
}

.colors {
    height: 2rem;
    width: 2rem;
    border: 1px solid gray;
    display: inline-block;
}