/* Size for brand */
:root {
    --bs-font-sans-serif: 'Montserrat', sans-serif;
}

nav.navbar {
    background-color: #d5f0e6;
    color: red;
}

button.btn {
    background-color: #d5f0e6;
}

.tr:nth-last-child() {
    border-bottom: 2px solid currentColor;
}

nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* my classes */
.td {
    text-align: left;
}

.tr_top {
    border-top: solid black 0.15rem;
}

.tr_bottom {
    border-bottom: solid black 0.15rem;
}

.buy {
    color: green;
}

.sell {
    color: red;
}

.add {
    color: blue;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: #d5f0e6;
    text-align: center;
}