body {
    background-image: url("moon.jpg");
    min-height: 100vh;

}
.navbar, .nav-link {
    --bs-navbar-brand-color: white;
    --bs-navbar-active-color: yellow;
    --bs-nav-link-color: white;
    --bs-navbar-hover-color: yellow;
    --bs-navbar-brand-hover-color: white;
}

.font {
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 5rem;
    margin: auto;
    margin-top: 12rem;
}

.footer {
    color: yellow;
    font-size: 1rem;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.3);
}