
body {
    background-image: url("moon.jpg");
    height: 100vh;
}

.body-naha {
    background-image: url("okinawa.jpg");
    height: 100vh;
    background-repeat: round;
}

.body-kobe {
    background-image: url("kobe.jpg");
    height: 100vh;
    background-repeat: round;
}

.body-nagoya {
    background-image: url("nagoya.jpg");
    min-height: 100vh;
    background-repeat: round;
}

.body-naha .accordion {
    --bs-accordion-btn-bg: rgba(255,255,255,0.5);
    --bs-accordion-bg: transparent;
}

.body-kobe .accordion {
    --bs-accordion-btn-bg: rgba(255,255,255,0.8);
    --bs-accordion-bg: transparent;
}

.body-nagoya .accordion {
    --bs-accordion-btn-bg: rgba(255,255,230,0.9);
    --bs-accordion-bg: transparent;
}

.navbar, .nav-link {
    --bs-navbar-brand-color: white;
    --bs-navbar-active-color: yellow;
    --bs-nav-link-color: white;
    --bs-navbar-hover-color: yellow;
    --bs-navbar-brand-hover-color: white;
}

.font {
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 5rem;
    margin-top: 7rem;
}

.header-home {
    background-color: rgba(255,255,204,0.5);
}

.header-naha {
    background-color: rgba(0,153,76,0.7);
}

.header-kobe {
    background-color: rgba(0,76,153,0.8);
}

.header-nagoya {
    background-color: rgba(160,160,160,0.9);
}

.accordion-body {
    overflow: auto;
    max-height: 40vh;
}

.footer-home {
    color: yellow;
    font-size: 1rem;
    justify-content: space-around;
    padding: 0.7rem;
    background-color: rgba(255,255,204,0.5);
}

.footer-naha {
    color: yellow;
    font-size: 1rem;
    justify-content: space-around;
    padding: 0.7rem;
    background-color: rgba(0,153,76,0.7);
}

.footer-kobe {
    color: yellow;
    font-size: 1rem;
    justify-content: space-around;
    padding: 0.7rem;
    background-color: rgba(0,76,153,0.8);
}

.footer-nagoya {
    color: yellow;
    font-size: 1rem;
    justify-content: space-around;
    padding: 0.7rem;
    background-color: rgba(160,160,160,0.9);
}

.intro {
    color: white;
    font-size: 1.5rem;
    padding: 0.7rem 10rem;
    text-align: center;
}

#resources {
    visibility: hidden;
}

.resource-naha {
    color: black;
    font-size: 1rem;
    background-color: rgba(255,255,255,0.7);
    border-radius: 0.5rem;
}

.resource-kobe {
    color: black;
    font-size: 1rem;
    background-color: rgba(255,255,255,0.8);
    border-radius: 0.5rem;
}

.resource-nagoya {
    color: black;
    font-size: 1rem;
    background-color: rgba(255,255,230,0.8);
    border-radius: 0.5rem;
}

.dates {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.modal {
    margin-top: 8rem;
}

.modal-body {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem
}