{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}

<h2 class="mb-5">Your current portfolio</h2>

<table class="table">
    <thead>
        <tr>
            <th>NN</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Total</th>

        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row['nn'] }}</td>
            <td>{{ row['symbol'] }}</td>
            <td>{{ row['price'] }}</td>
            <td>{{ row['shares'] }}</td>
            <td>{{ row['total'] }}</td>
        </tr>
        {% endfor %}
        <tr class="tr_top">
            <td class="td px-5 fw-bold" colspan="4">Total sum:</td>
            <td class="fw-bold">{{ sum }}</td>
        </tr>
        <tr>
            <td class="td px-5 fw-bold" colspan="4">Your cash:</td>
            <td class="fw-bold">{{ cash }}</td>
        </tr>

        <tr class="tr_bottom">
            <td class="td px-5 fw-bold" colspan="4">Total value of stocks and cash:</td>
            <td class="fw-bold">{{ total_value }}</td>
        </tr>

    </tbody>
</table>

{% endblock %}

<!-- table
    Your current portfolio
nn   symbol  price   shares   total
1.    aapl    105      3       315
2.    abc      50      4       200
total:                         515
Cash balance =
Total value = 515 + cash balance
table -->

abc