{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <h2>Your current portfolio</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <td>NN</td>
                    <td>Symbol</td>
                    <td>Price</td>
                    <td>Shares</td>
                    <td>Total</td>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in  data %}
                <tr>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}

<!-- table
    Your current portfolio
nn   symbol  price   shares   total
1.    aapl    105      3       315
2.    abc      50      4       200
total:                         515
Cash balance =
Total value = 515 + cash balance
table -->

abc