{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>

                {% for stock in list_stocks %}
                    <option>{{stock["symbol"]}}</option>
                {% endfor %}
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares's number" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>

{% endblock %}