{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select w-25 mx-auto" id="symbol" name="symbol" aria-label="Default select example">
                <option selected>Select symbol</option>

                {% for stock in list_stocks %}
                    <option>{{stock["symbol"].upper()}}</option>
                {% endfor %}
            </select>

        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares's number" type="text">
        </div>
        <button class="btn border" type="submit">Sell</button>
    </form>

{% endblock %}